body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(250, 88, 28), rgb(253, 28, 28));
}

#H1Title {
    display: block;
    font-size: 80px;
    color: white;
}

.theContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thDobelColumns {
    font-size: 60px;
    border-radius: 10px;
    color: white;
    margin: 0 10px;
}

.TimeBox {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.511);
}

#H1Date {
    text-transform: uppercase;
    color: white;
}