body{
    text-align: center;
}
button{
    border: none;
    background-color: coral;
    border-radius: 5px;
    padding: 3px;
    margin-top: 10px;
}
section{
    display: block;
    border: 1px solid gray;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
}
section form label, input{
    margin-top: 10px;
}
